---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Masthead from '../components/Masthead.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<Masthead />
		<main class="pt-[56px]">
			<h1 class="font-mplus text-center">Blog kanak gabut</h1>
			<Content>
				<section>
					<p class="mb-8 indent-4">
						Kami ene kanak ndrk gawek a, ya ampok kami miak pringgasela literasi <br>
						agen na rame gubok o ene yah, engga ene gawek ta, terus miak lah aku(Boi) blog <br>
						kadu agen na rame gerup kami le bale yah. 
					</p>
				</section>
			</Content>
		</main>
		<Footer />
	</Body>
</html>
